{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
    {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ product.imageUrl }}">
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <button data-product="{{ product.id }}" data-action="add" class="btn btn-warning add-btn update-cart"><strong>Add to Cart</strong></button>
                <a data-product="{{ product.id }}" class="btn btn-outline-success" href="{% url 'product_detail' %}"><strong>View</strong></a>
                <h4 style="display: inline-block; float: right"><strong>${{ product.price|floatformat:2 }}</strong></h4>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}

